@font-face {
    font-family: nunito;
    font-weight: 400;
    src: url('./fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
    font-family: nunito-italic;
    font-weight: 400;
    src: url('./fonts/Nunito-Italic-VariableFont_wght.ttf');
}

body {
    font-family: nunito !important;
}

.navbar {
    background: #212121d8;
}

.link-nav1 {
    color: #ffffff !important;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.link-nav1:focus,
.link-nav1:hover {
    color: #fd2525;
}

.link-nav1:focus:after,
.link-nav1:hover:after {
    width: 100%;
    left: 0%;
}

.link-nav1:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fd2525;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.banner-image {
    background: linear-gradient(rgba(255, 255, 255, 0.1),
            #1a1616), url('../img/empresa-malex.png');
}


.topo-Fixo {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: rgba(61, 56, 56, 0.562);
    animation: fadeIn 5s ease-in-out;
}


.sobre {
    display: flex;
    justify-content: center;
    background: #1a1616;
    width: 100%;
}

.sobre-width {
    max-width: 1200px;
    width: 100%;
}

.sobre-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sobre-texto {
    width: 400px;
    line-height: 2em;
    margin-right: 25px;
    color: white;
}

.sobre-image {
    width: 500px;
    margin: 25px;
}

/* ############################################################# */

.servicos-card {
    background: #282727;
}

.servicos-card div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.servicos-card div div {
    margin: 15px;
}

/* ################################################### */
.rodape-info {
    background-color: rgb(19, 19, 19);
    height: 90%;

}

.rodape-info div {
    max-width: 1700px;
    width: 100%;
}

.rodape-dados {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.rodape-dados div {
    width: 200px;
    margin: 5px;
}

.form form {
    display: flex;
    margin: 0;
}

.form form button {
    background: rgb(170, 132, 7);
    border: 0;
    border-radius: 0 10px 10px 0;
}

.form form button i {
    padding: 10px;
    margin: 0;
}

.copyrigth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 29, 29);
    height: 50px;
}

.copyrigth h1 {
    font-size: 1rem;
    font-family: nunito-italic !important;
}



@media (max-width: 500px) {
    .sobre-image {
        width: 90%;
        margin: 10px;
    }

    .form-contact{
       display: block!important;; 
    }

    .info-contact{
        margin-top: 2rem!important;
    }
}

/* ################################ */

.contato {
    background-color: #212121;
}

.contato iframe {
    position: absolute;
    top: 0;
}

.contato div {
    z-index: 1;
    position: relative;

}

.form-contato {
    max-width: 300px;
    background: #212121;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;

}

.form-submit {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.form-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10rem;
}

.info-contact{
    background: #212121;
    padding: 20px;
    border-radius: 1.5rem;
    margin: 0 auto;
    width: 300px;
}